<div class="min-h-[800px] flex flex-col items-center mx-3 mb-3">
  <div class='my-2 flex flex-col justify-center md:flex-row '>
    <span class='flex text-xl justify-center items-center mb-2 md:mb-0 mr-2 ' >お部屋No.<%= @post.id %></span>
    <div class='flex justify-center'>
      <%= link_to '募集詳細', post_path(@post.id), class: 'btn mx-2' %>
      <%= link_to '募集一覧', posts_path, class: 'btn' %>
    </div>
  </div>
  <div class="w-full md:w-1/2 rounded-md bg-cover" style="background-image: url('<%= asset_path('talk.jpg') %>')">
    <div id="messages">
      <%= render partial: 'chatrooms/chat', collection: @chats, as: :chat, locals: { profile: @profile } %>
    </div>
    <form onsubmit="return false;" class='flex flex-col justify-center items-center min-h-[96px]'>
      <input type="hidden" id="post" value="<%= @post.id %>">
      <input type="hidden" id="profile" value="<%= @profile.id %>">
      <div class="w-full flex flex-row justify-center items-center">
        <textarea id='post_input' name="mytext" class='text-black rounded-md mx-2' rows="1" placeholder="メッセージを入力" cols="40" autofocus ></textarea>
        <button id='submit_button' type="submit" data-behavior="room_speaker" class='btn btn-sm'>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
            </svg>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>

<script>
    window.postData = {
      id: <%= @post.id %>,
    }
</script>
