<div class="bg-blue-900 w-full h-full text-white">
  <h1 class="text-5xl mb-4">動画視聴機能</h1>

  <div class="flex justify-center">
    <%= form_with url: search_videos_path, method: :get, local: true do |f| %>
      <div class="flex items-center">
        <%= f.text_field :keyword, placeholder: "選手名を入力", class: "border border-black border-2 rounded-md" %>
        <%= f.submit "検索", class: 'btn btn-xs'%>
      </div>
    <% end %>
  </div>

  <% if @videos.present? %>
      <h3 class="text-xl mt-6">検索結果</h3>
      <div>
        <ul class="grid grid-cols-1 md:grid-cols-3">
          <% @videos.each do |video| %>
            <%= render partial: 'shared/video_item', locals: { video: video } %>
          <% end %>
        </ul>
      </div>
  <% else %>
    <h1>検索窓から検索してください</h1>
  <% end %>

  <% if @recommend_videos.present? %>
      <h3 class="text-xl mt-6">おすすめ</h3>
      <div>
        <ul class="grid grid-cols-1 md:grid-cols-3">
          <% @recommend_videos.each do |video| %>
            <%= render partial: 'shared/video_item', locals: { video: video } %>
          <% end %>
        </ul>
      </div>
  <% end %>
</diV>
