<header>
  <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-2">
    <div class="flex items-center flex-shrink-0 text-white">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", style: "width: 50px; height: 50px;" %>
      <% end %>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <%= link_to '利用規約', page_path('terms'), class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-2xl mx-8" %>
        <%= link_to 'プライバシーポリシー', page_path('policy'), class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-2xl mr-8" %>
      </div>
      <div>        
        <%= link_to '動画視聴', videos_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-4xl font-bold mr-8" %>
        <%= link_to 'ユーザー登録', new_user_registration_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-4xl font-bold mr-8" %>
        <%= link_to 'ログイン', new_user_session_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white text-4xl font-bold mr-8" %>
      </div>
    </div>
  </nav>
</header>