<li class='my-6'>
  <div class="mx-4 mb-4">
    <div class="text-lg w-full overflow-hidden whitespace-nowrap" style="max-width: 32ch;">
      <%= link_to video_path(video[:video_id], video) do %>
        <%= video[:title] %>
      <% end %>
    </div>
    <div class="text-sm">
      再生回数:<%= video[:view_count] %>
    </div>
    <div>
      <%= link_to video_path(video[:video_id], video) do %>
        <%= image_tag "#{video[:thumbnail_url]}", size: '350x270' %>
      <% end %>
    </div>
  </div>
</li>