<div class="bg-blue-900 w-full h-screen text-white overflow-hidden flex items-center justify-center">
  <div>
    <div class='m-3'> 
      <h1 class='font-bold text-2xl border-dotted border-t-2 border-fitting-white pt-2'>お問い合わせ</h1>
      <h1 class='font-bold'>ログインしているメールアドレスにお問い合わせが返信されます。<br>ご留意くださいませ。</h1>
    </div>
    <%= form_with(model: @contact, local: true) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <div class="field w-full flex justify-center">
        <div class="m-3 w-72 md:w-96">
          <%= f.label :name, 'お名前*' %><br>
          <%= f.text_field :name, autofocus: true, class: 'pl-1 border border-black border-2 rounded-md text-black w-72 md:w-96' %>
        </div>
      </div>

      <div class="field w-full flex justify-center">
        <div class="m-3 w-72 md:w-96">
          <%= f.label :subject, '件名*' %><br>
          <%= f.text_field :subject, class: 'pl-1 border border-black border-2 rounded-md text-black w-72 md:w-96' %>
        </div>
      </div>

      <div class="field w-full flex justify-center">
        <div class="m-3 w-72 md:w-96">
          <%= f.label :body, '内容*' %><br>
          <%= f.text_area :body,  class: 'pl-1 border border-black border-2 rounded-md text-black w-72 md:w-96' %>
        </div>
      </div>

      <div class='m-3 actions flex justify-center pb-2 border-dotted border-b-2 border-fitting-white'>
        <%= f.submit '送信', class: 'btn btn-xs' %>
      </div>
    <% end %>
  </div>
</div>
