<div class="bg-blue-900 w-full min-h-screen text-white">
  <% if @response.request.name === 'ベストイレブン' %>
    <div class='flex flex-col justify-center items-center mt-10 mb-4'>
      <span class='font-bold text-2xl'>タイトル:<%= @response.title %></span>
    </div>
    <div class="flex justify-center items-center">
      <div class="relative w-[200px] h-[293px] sm:w-[300px] sm:h-[440px] md:w-[410px] md:h-[600px] bg-[url('field.jpg')] bg-cover bg-no-repeat">
        <% parse_and_render_cards(@response.body).each_with_index do |position, index| %>
          <% if position[:title].include?('R') %>
            <div class="dropdown dropdown-end absolute" style="<%= position_style(index) %>">
              <%= render partial: 'shared/position_component', locals: { position: position } %>
            </div>
          <% elsif position[:title] == 'CF' || position[:title] == 'CMF' %>
            <div class="dropdown dropdown-top absolute z-10" style="<%= position_style(index) %>">
              <%= render partial: 'shared/position_component', locals: { position: position } %>
            </div>
          <% else %>
            <div class="dropdown absolute" style="<%= position_style(index) %>">
              <%= render partial: 'shared/position_component', locals: { position: position } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='flex flex-col justify-center items-center mb-20 m-2'>
      <%= content_tag(:span, "上記の選手たちは、youtubeでもスーパープレイを披露してくれるトップクラスの選手たちです！！気になった選手をぜひ動画で検索してみてください！", class: 'font-bold') %>
      <span>※OpenAIが取得している最新のデータになります</span>
      <%= link_to '動画を見に行く', videos_path, class: 'btn btn-sm my-2 mx-2 w-36' %>
    </div>
  <% else %>
    <div class='flex flex-col justify-center items-center mt-10 mb-4'>
      <span class='font-bold text-2xl'>タイトル:<%= @response.title %></span>
    </div>
    <div class="grid grid-cols-1 place-items-center">
        <div class="card card-compact shadow-xl text-black md:w-1/2 mx-2 bg-blue-200">
          <div class="card-body markdown flex justify-center items-center">
            <%= markdown(@response.body).html_safe %>
          </div>
        </div>
        <div class='flex flex-col md:flex-row justify-center items-center mb-20 m-2'>
          <%= content_tag(:span, "感動的な情報に出会えましたか？？気になったらぜひ動画で検索してみてください！", class: 'font-bold') %>
          <%= link_to '動画を見に行く', videos_path, class: 'btn btn-sm my-2 mx-2 w-36' %>
        </div>
    </div>
  <% end %>
</div>



