<div class='h-full'>
  <div class='flex mb-2 mt-2'>
    <h1 class="text-5xl">募集一覧</h1>
    <%= link_to '募集する', new_post_path, class: "btn ml-5" %>
  </div>
  <div class='my-2'>
    <% if @posts.present? %>
      <ul class='grid grid-cols-1 md:grid-cols-2'>
        <% @posts.each do |post| %>
          <li class='my-2'>
            <div class="card card-compact bg-blue-500 shadow-xl mx-2">
              <div class="card-body">
                <div class='flex flex-row'>
                  <div tabindex="0" class="avatar h-20 w-20">
                  <div class="h-20 w-20 rounded-full">
                    <% if post.profile.avatar.present? %>
                      <%= link_to profile_path(post.profile) do %>
                        <%= image_tag post.profile.avatar %>
                      <% end %>
                    <% else %>
                      <%= link_to profile_path(post.profile) do %>
                        <%= image_tag "default.jpg" %>
                      <% end %>
                    <% end %>
                    </div>
                  </div>
                  <div class="ml-4 max-w-full">
                    <h2 class="card-title">
                      <%= "開催日: #{post.date.strftime('%Y-%m-%d %H:%M')}" %>
                      <%= "募集状況: #{post.group.memberships.where(status: '参加').count}/#{post.capacity}" %>
                    </h2>
                    <p class="w-full overflow-hidden whitespace-nowrap text-ellipsis max-w-[28ch] xl:max-w-[65ch]"><%= "#{post.location}" %></p>
                    <p class="w-full overflow-hidden whitespace-nowrap text-ellipsis max-w-[28ch] xl:max-w-[65ch]"><%= "#{post.title}" %></p>
                    <p class="w-full overflow-hidden whitespace-nowrap text-ellipsis max-w-[28ch] xl:max-w-[65ch]"><%= "#{post.detail}" %></p>
                  </div>
                </div>
                <div class="collapse bg-base-200">
                  <input type="checkbox" class="peer" /> 
                  <div class="collapse-title bg-primary text-primary-content peer-checked:bg-info peer-checked:text-secondary-content font-bold">
                    場所などの関連リンクはこちら♪
                  </div>
                  <% if post.related_url.present? %>
                    <div class="collapse-content bg-primary text-primary-content peer-checked:bg-info peer-checked:text-secondary-content"> 
                      <%= link_to "#{post.related_url}", post.related_url, target: :_blank, rel: "noopener noreferrer"%>
                    </div>
                  <% else %>
                    <div class="collapse-content bg-primary text-primary-content peer-checked:bg-info peer-checked:text-secondary-content"> 
                      <span>関連URLリンクはありません</span>
                    </div>
                  <% end %>
                </div>
                <div class="card-actions justify-end">
                  <% if post.group.memberships.exists?(profile: current_user.profile, status: '参加') %>
                  <% membership = post.group.memberships.find_by(profile: current_user.profile, status: '参加') %>
                    <%= link_to 'グループチャットへ', post_group_membership_chatroom_path(post, post.group, membership), class: 'btn btn-accent' %>
                  <% end %>
                  <%= link_to '募集内容を見る', post_path(post.id), class: 'btn' %>
                  <% if post.owned_by?(current_user) %>
                    <%= link_to '募集編集', edit_post_path(post), class: 'btn' %>
                    <%= link_to '募集削除', post_path(post), data: { turbo_method: :delete, turbo_confirm: "投稿を削除しますか？" }, class: 'btn' %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class='w-full flex flex-col my-56 items-center'>
        <span class='font-bold text-3xl'>今のところ投稿がありません。募集して皆でフットサルしませんか？</span>
        <%= image_tag asset_path('POSTME.png') %>
      </div>
    <% end %>
  </div>
</div>