<!DOCTYPE html>
<html data-theme="light">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BG0Q0X10Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0BG0Q0X10Z');
    </script>
    <title>Stardom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

    <body class='bg-blue-900 text-white'>
    <header>
    <% if user_signed_in? %>
      <%= render partial: 'shared/login_header' %>
    <% else %>
      <%= render partial: 'shared/before_login_header' %>
    <% end %>
    </header>
    <% flash.each do |type, message| %>
      <%= content_tag(:div, message, 
          class: "alert #{type == 'notice' ? 'bg-blue-600 border border-blue-900 text-white px-4 py-3 rounded relative' : 'bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative'} ", role: "alert") %>
    <% end %>
    <%= yield %>
    <footer>
      <% if user_signed_in? %>
      <%= render partial: 'shared/login_footer' %>
    <% else %>
      <%= render partial: 'shared/before_login_footer' %>
    <% end %>
    </footer>
  </body>
</html>
